/* CSS Styles */
#widgetContainer {
	text-align: center;
	background-color: #669bbc;
	width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#widgetContainer .image-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 75%;
	margin-right: 20px;
}

#widgetContainer .image-wrapper img {
	width: 100%;
	display: block;
}

#widgetContainer label {
	display: block;
	text-align: right;
	width: 120px;
	margin-bottom: 5px;
}

.section-heading {
	text-align: left;
}

.display-box {
	border: 1px solid #ccc;
	padding: 5px;
	display: block;
	width: 150px;
	margin: 10px auto;
	text-align: center;
}

.checkbox-label {
	display: flex;
	align-items: center;
}

.checkbox-label input[type="checkbox"] {
	margin-left: 50px;
}
